/* 版心 */
.w{
    width: 1400px;
    margin: 0 auto;
}
.fl{
    float: left;

}
.fr{
    float:right;
}
/* 快捷导航模块 */
.shortcut{
    height: 62px;
    line-height: 62px;
    background-color: rgb(94, 89, 89);
}
.shortcut ul li{
    float: left;
    list-style: none;
}
.shortcut .fr ul li a{
    display: block;
    padding:0 35px;
    font-size: 16px;
    color:black;
    text-decoration: none;
}
.shortcut .fr ul li:hover{
    background-color: #fff;
}
/* 底部模块制作 */
.footer{
    height: 350px;
    background-color: rgb(34,34,34);
    padding: 44px;
}
.mod_service{
    height: 260px;
}
.mod_service ul li{
    float: left;
    width: 350px;
    height: 269px;
    background-color: rgb(34,34,34);
    list-style: none;
}
.mod_service ul li h4{
    width: 350px;
    height: 40px;
    color:white;
}
.service_txt h4{
    font-size: 14px;
}
.service_txt p{
    font-size: 12px;
    color: rgb(153,153,153);
}
.service_help {
    padding-left: 40px;
}
.service_help dl dt a{
    text-decoration: none;
    color:rgb(153,153,153);
}
.service_help h4{
    font-size: 14px;
}
.service_help dl dt{
    margin-bottom: 12px;
    font-size: 12px;
}
.service_contact{
    padding: 0px;
}
.service_contact h4{
    font-style: 14px;
}
.service_contact h4 a{
    text-decoration: none;
    color:white;
}
.service_contact dl dt a{
    text-decoration: none;
    color: rgb(153,153,153);
}
.service_contact dl dt{
    margin-bottom: 10px;
    font-size: 12px;
    color:rgb(153,153,153)
}
.service_wechat h4{
    font-size: 14px;
}
.coorperate p{
    text-align: center;
    font-size: 12px;
    color:rgb(153,153,153)
}
.copyright{
    background-color: rgb(17,17,17);
    height: 25px;
    text-align: center;
    color:rgb(191,178,178);
    font-size: 13px;
    line-height: 25px;
}
